.env
.idea
.vscode
.vs


# ignores for asp.net

Backend/bin/
Backend/obj/
Backend/**/bin/
Backend/**/obj/

Backend/bin/Debug/
Backend/bin/Release/
Backend/obj/Debug/
Backend/obj/Release/

Backend/*.user
Backend/*.suo
Backend/*.userosscache
Backend/*.rsuser
Backend/.vs/
Backend/*.sln.docstates

Backend/appsettings.json
Backend/appsettings.Development.json
Backend/appsettings.Production.json

Backend/*.log
Backend/logs/

Frontend/node_modules/
Frontend/.vscode/
Frontend/dist/
Frontend/.env
Frontend/obj/
Frontend/obj/Debug

Frontend/.vite/
Frontend/public/build/

Frontend/yarn.lock
Frontend/package-lock.json

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.DS_Store
