.env
.idea
.vscode
.vs


# ignores for asp.net

/[Ll]og/
/[Tt]emp/
/[Bb]in/
/[Oo]bj/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

mono_crash.*

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

.vscode/

appsettings.json
appsettings.Development.json
appsettings.Production.json

*.log

csx/
*.build.csdef

project.lock.json
project.fragment.lock.json
artifacts/

*.nupkg
*.snupkg
.nuget/
packages/
